body{
	background: #090D18;
}   
header{
	margin: 10px;
	align-items: center;
	display: flex;
	
}
header div img{
	border-radius: 50%;
	width: 70px;
}.barra{
	margin:0px;
	margin-left: 100px;
}.logo{
	margin-top: 15px;
	margin-left: 50px; 
}

header div ul{
	background: #525252;
	border-radius: 10px;
}

header div ul li{
	padding: 10px;
	margin: 5px;
	display: inline-block;
}
header div ul li a {
	font-size:20px;
	text-decoration: none;
	color:#E1C84C;
	margin-left: 80px
}section{
	margin:50px;	
}
section section h1 {
	font-size: 28px;
	color: red;
	margin-left: 80px
}section section p {
	color: white;
	font-size: 20px;
	margin-left: 80px;

}.Videos{
	margin-left: 135px;
}
	.wow{
	border: 3px solid red;
}